html {
    font-family: 'Noto Sans', Sans-Serif;
    font-size: 16px;
    /* background: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9 116px) no-repeat; */
    background: #edebe9 linear-gradient(to bottom, #afa698, #edebe9 130px) no-repeat;
    color: #4d4d4d;
}

h2, img {
  display: inline-block;
}

/* Estilo de los botones */

.mybtn {
  background: lightgray;
  cursor: pointer;
}

.mybtn:hover {
  background: #4CAF50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 40px 0 rgba(0,0,0,0.19);
}

.mybtnEliminar{
  cursor: pointer;
  border: none;
  background: none;
  background-image: url("/images/icon_eliminar_15x15_gris.png");
  background-repeat: no-repeat;
  width:15px;
  height:15px;
}

.mybtnEliminar:hover{
  background-image: url("/images/icon_eliminar_15x15_rojo.png");
}

.mybtnEditar{
  cursor: pointer;
  border: none;
  background: none;
  background-image: url("/images/icon_lapiz_15x15_gris.png");
  background-repeat: no-repeat;
  width:15px;
  height:15px;
}

.mybtnEditar:hover{
  background-image: url("/images/icon_lapiz_15x15_rojo.png");
}

/* Estilo de la tabla */

table {
  border-collapse: collapse;
  width: 60%;
}

thead {
  background-color: #4CAF50;
  color: white;
}

td {
  padding: 2px;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

/* Estilo de los imputs */

label { 
  display: inline-block; 
  width: 150px; 
  text-align: right;
  padding: 3px;
}

input:valid, textarea:valid {
  color:green;
}

input:invalid, textarea:invalid {
  color:red;
}