body {
  font-family: 'Noto Sans', Sans-Serif;
  background: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9 116px) no-repeat;
  color: #4d4d4d;
}

h1, img {
    display:inline-block;
}

.mybtn {
  cursor: pointer;
} 

.mybtn:hover {
  background: #4CAF50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.mybtn:active{
  background: green;
  color: white;
}

label { display: inline-block; width: 150px; text-align: left; }

table {
  border-collapse: collapse;
}

thead {
  background-color: #4CAF50;
  color: white;
}

td {
  padding: 3px;
}

tr:nth-child(even) {
  background-color: lightgrey;
}